div{
    display: block;
}
.moi_zadachi{
    color: black;
    /* width: 950px;  */
    width: 100%;     
    background-color: azure;   
    border-radius: 5px;
    padding: 10px;
}
.title{
    text-align: center;
    margin-top: 50px;
}
.opisanie_zadachi{
    width: 100%;
}
body{
    background-color: rgba(63, 150reen, 244, 0.40);
    border: 1px solid black;
    width: 100%;    
}
form{
    width: 100%;
}
.rez{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    border: 1px solid black;

}
.forma_vvoda{
    width: 80%;
    height: 70px;
}